# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml

# Laravel IDE Helper
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# Node.js (ShadCN, Tailwind, etc.)
/dist
/build
.npm
.yarn
.pnpm-debug.log
*.log

# Vite
.vite

# Mac & system stuff
.DS_Store
Thumbs.db
